extends layout
block style
  link(rel='stylesheet', href='./styles/sidebar.css')
  link(rel='stylesheet', href='./styles/bootstrap-switch.min.css')
  link(rel='stylesheet', href='./styles/main.css')
block content
  #app(v-cloak)
    #sidebar.sidebar.collapsed
      //- Nav tabs
      .sidebar-tabs
        ul(role='tablist')
          li
            a(href='#filter', role='tab')
              i.fa.fa-filter
      //- Tab panes
      .sidebar-content
        #filter.sidebar-pane
          h1.sidebar-header
            | 篩選條件
            span.sidebar-close
              i.fa.fa-caret-left
          .sidebar-body
            #filterType
              h2 測量類別
              .row
                .col-xs-6
                  button.btn(v-bind:class='{ selected: filterType=="pm25"}', v-on:click='toggleFilter("pm25")') PM2.5
                .col-xs-6
                  button.btn(v-bind:class='{ selected: filterType=="pm25NASA"}', v-on:click='toggleFilter("pm25NASA")') PM2.5_NASA
                .col-xs-6
                  button.btn(v-bind:class='{ selected: filterType=="aqi"}', v-on:click='toggleFilter("aqi")') AQI
                .col-xs-6
                  button.btn(v-bind:class='{ selected: filterType=="temp"}', v-on:click='toggleFilter("temp")') 溫度
                .col-xs-6
                  button.btn(v-bind:class='{ selected: filterType=="humi"}', v-on:click='toggleFilter("humi")') 濕度
            #filterGroup
              h2 群組
              .row
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["lass"]}', v-on:click='toggleGroup("lass")')
                    .count {{ marker['lass'].length }}
                    .name LASS
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["lass4u"]}', v-on:click='toggleGroup("lass4u")')
                    .count {{ marker['lass4u'].length }}
                    .name LASS-4U
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["maps"]}', v-on:click='toggleGroup("maps")')
                    .count {{ marker['maps'].length }}
                    .name LASS-MAPS
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["probecube"]}', v-on:click='toggleGroup("probecube")')
                    .count {{ marker['probecube'].length }}
                    .name Probecube
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["indie"]}', v-on:click='toggleGroup("indie")')
                    .count {{ marker['indie'].length }}
                    .name Indie
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["airbox"]}', v-on:click='toggleGroup("airbox")')
                    .count {{ marker['airbox'].length }}
                    .name Airbox
                .col-xs-6
                  button.btn(v-bind:class='{ selected: groupView["epa"]}', v-on:click='toggleGroup("epa")')
                    .count {{ marker['epa'].length }}
                    .name EPA
            #resourceLayer
              h2 資源圖層
              .row
                .col-xs-8
                  h3 風力線
                .col-xs-4
                  input#windLayerSw(type='checkbox')
              .row
                .col-xs-8
                  h3 固定汙染源
                .col-xs-4
                  input#pollutionSiteSw(type='checkbox')
    #map
    include ./indicatorLevel.pug
    #timeProgress
      input(type='range', min='-3', max='3', v-model.number='dateProgress')
      p#time {{ timeCalc }}

block append js
  script(src='./js/libs/sidebar.js')
  script(src='./js/libs/bootstrap-switch.min.js')
  script(src='./js/main.js')