extends layout
block style
  link(rel='stylesheet', href='./styles/sidebar.css')
  link(rel='stylesheet', href='./styles/bootstrap-switch.min.css')
  link(rel='stylesheet', href='./styles/main.css')
block content
  #app(v-cloak)
    #sidebar.sidebar.collapsed
      //- Nav tabs
      .sidebar-tabs
        ul(role='tablist')
          li
            a(href='#filter', role='tab')
              i.fa.fa-filter
      //- Tab panes
      .sidebar-content
        #filter.sidebar-pane
          h1.sidebar-header
            | 篩選條件
            span.sidebar-close
              i.fa.fa-caret-left
          .sidebar-body
            #filterType
              h2 測量類別
              .row
                .col-xs-6
                  button.btn.selected(value='pm25') PM2.5
                .col-xs-6
                  button.btn(value='pm25NASA') PM2.5_NASA
                .col-xs-6
                  button.btn(value='aqi') AQI
                .col-xs-6
                  button.btn(value='temp') 溫度
                .col-xs-6
                  button.btn(value='humi') 濕度
            #filterGroup
              h2 群組
              .row
                .col-xs-6
                  button.btn.selected(value='lass', select='true')
                    .count 0
                    .name LASS
                .col-xs-6
                  button.btn.selected(value='lass4u', select='true')
                    .count 0
                    .name LASS-4U
                .col-xs-6
                  button.btn.selected(value='lassmaps', select='true')
                    .count 0
                    .name LASS-MAPS
                //- .col-xs-6
                //-   button.btn.selected(value='probecube', select='true')
                //-     .count 0.length }}
                //-     .name Probecube
                //- .col-xs-6
                //-   button.btn.selected(value='indie', select='true')
                //-     .count 0
                //-     .name Indie
                .col-xs-6
                  button.btn.selected(value='airbox', select='true')
                    .count 0
                    .name Airbox
                //- .col-xs-6
                //-   button.btn.selected(value='epa', select='true')
                //-     .count 0
                //-     .name EPA
            #resourceLayer
              h2 資源圖層
              .row
                .col-xs-8
                  h3 固定汙染源
                .col-xs-4
                  input#emissionSiteSw(type='checkbox')
              .row
                .col-xs-8
                  h3 風力線
                .col-xs-4
                  input#windLayerSw(type='checkbox')
            #chartLine
              h2 圖表
              canvas#myChart
    #map

    include ./indicatorLevel.pug
    #timeProgress
      .row
        .col-xs-6
          button.btn.selected(value='now') 現在
        .col-xs-6
          button.btn(value='prediction') 預測

block append js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  script(src='http://bl.ocks.org/Sumbera/raw/11114288/L.CanvasOverlay.js')
  script(src='./js/libs/windy.js')
  script(src='./js/libs/sidebar.js')
  script(src='./js/libs/bootstrap-switch.min.js')
  script(src='./js/main.js')
